#######
Scarb
#######

target
deployed_contracts.txt
metadata_gen
.account*
.braavos*
.keystore.json

.DS_Store

testnet.json

.snfoundry_cache/

scripts/

*.sh

scripts/goerli/

scripts/sepolia/

scripts/

.vscode/
